<!DOCTYPE html>
<html>
  <head>
    <title>Howdy!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
    <style>
      body {font-family: Helvetica; font-size: 20px;}
      main {white-space: pre-wrap;}
      img.emoji {width: 1em;}
      footer {margin: 1em 0; font-size: small;}
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102234393-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <main>
      
    </main>
    <footer><a href="#" id="tweet-button" target="_new">tweet this</a> · <a href="#" onclick="another()">another</a></footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/client.js"></script>
  </body>
</html>
